<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T3jet Mockup</title>
    <link rel="shortcut icon" href="{{ asset('bundles/t3jetmockup/Icons/favicon.ico', 'asset') }}">
    <link rel="stylesheet" href="{{ asset('bundles/t3jetmockup/Css/all.css', 'asset') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>