{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Desktop Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .desktop-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%;
        }
        
        .desktop-mockup {
            width: 800px;
            height: 600px;
            background-image: url('{{ asset('bundles/devicemockupviewer/Images/desktop.png') }}');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .desktop-screen {
            width: 640px;
            height: 400px;
            overflow: hidden;
            border-radius: 0;
            position: relative;
            margin-top: -50px;
        }
        
        .desktop-screen iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        
        @media (max-width: 1000px) {
            .desktop-mockup {
                transform: scale(0.8);
            }
        }
        
        @media (max-width: 800px) {
            .desktop-mockup {
                transform: scale(0.6);
            }
        }
        
        @media (max-width: 600px) {
            .desktop-mockup {
                transform: scale(0.4);
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="desktop-container">
    <div class="desktop-mockup">
        <div class="desktop-screen">
            <iframe src="{{ cleanUrl }}" title="Desktop Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}