{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Samsung Galaxy Fold Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/devices/android.css') }}">
{% endblock %}

{% block content %}
<div class="device-container">
    <div class="galaxy-fold">
        <div class="fold-left">
            <div class="screen">
                <div class="camera-notch"></div>
                <iframe src="{{ cleanUrl }}" title="Samsung Galaxy Fold Mockup Left"></iframe>
            </div>
            <div class="fold-crease"></div>
        </div>
        <div class="fold-hinge"></div>
        <div class="fold-right">
            <div class="screen">
                <iframe src="{{ cleanUrl }}" title="Samsung Galaxy Fold Mockup Right"></iframe>
            </div>
            <div class="fold-crease"></div>
        </div>
    </div>
</div>
{% endblock %}