{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Samsung Galaxy S22 Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/devices/android.css') }}">
{% endblock %}

{% block content %}
<div class="device-container">
    <div class="galaxy-s22">
        <div class="power-button"></div>
        <div class="screen">
            <div class="camera-punch"></div>
            <iframe src="{{ cleanUrl }}" title="Samsung Galaxy S22 Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}