{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}iPhone 12 Pro Max Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/devices/iphone.css') }}">
{% endblock %}

{% block content %}
<div class="device-container">
    <div class="iphone-12-max device-base button-left button-right scale-480 scale-360">
        <div class="power-button button-side button-right" style="top: 180px; height: 70px;"></div>
        <div class="screen screen-base iphone-screen">
            <div class="notch"></div>
            <iframe src="{{ cleanUrl }}" title="iPhone 12 Pro Max Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}