{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}iPhone 6 Plus Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .iphone6plus-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%;
        }
        
        .iphone6plus-mockup {
            width: 414px;
            height: 736px;
            background-image: url('{{ asset('bundles/devicemockupviewer/Images/iphone6plus.png') }}');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .iphone6plus-screen {
            width: 350px;
            height: 620px;
            overflow: hidden;
            border-radius: 0;
            position: relative;
            margin-top: -10px;
        }
        
        .iphone6plus-screen iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        
        @media (max-width: 500px) {
            .iphone6plus-mockup {
                transform: scale(0.7);
            }
        }
        
        @media (max-width: 360px) {
            .iphone6plus-mockup {
                transform: scale(0.5);
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="iphone6plus-container">
    <div class="iphone6plus-mockup">
        <div class="iphone6plus-screen">
            <iframe src="{{ cleanUrl }}" title="iPhone 6 Plus Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}