{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}iPhone 6 Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/devices/iphone.css') }}">
{% endblock %}

{% block content %}
<div class="device-container">
    <div class="iphone-6 device-base scale-480 scale-360">
        <div class="speaker"></div>
        <div class="front-camera"></div>
        <div class="screen screen-base iphone-screen">
            <iframe src="{{ cleanUrl }}" title="iPhone 6 Mockup"></iframe>
        </div>
        <div class="home-button"></div>
    </div>
</div>
{% endblock %}