{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Laptop Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .laptop-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%;
        }
        
        .laptop-mockup {
            width: 800px;
            height: 550px;
            background-image: url('{{ asset('bundles/devicemockupviewer/Images/laptop.png') }}');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-top: 45px;
        }
        
        .laptop-screen {
            width: 580px;
            height: 360px;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            margin-top: 0;
        }
        
        .laptop-screen iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 8px;
        }
        
        @media (max-width: 1000px) {
            .laptop-mockup {
                transform: scale(0.8);
            }
        }
        
        @media (max-width: 800px) {
            .laptop-mockup {
                transform: scale(0.6);
            }
        }
        
        @media (max-width: 600px) {
            .laptop-mockup {
                transform: scale(0.4);
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="laptop-container">
    <div class="laptop-mockup">
        <div class="laptop-screen">
            <iframe src="{{ cleanUrl }}" title="Laptop Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}