{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}MacBook Pro 16" Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/devices/laptop.css') }}">
{% endblock %}

{% block content %}
<div class="device-container">
    <div class="macbook-pro-16 scale-1200 scale-900 scale-600">
        <div class="macbook-screen">
            <div class="screen screen-base">
                <div class="notch"></div>
                <iframe src="{{ cleanUrl }}" title="MacBook Pro 16 Mockup"></iframe>
            </div>
        </div>
        <div class="macbook-base">
            <div class="trackpad"></div>
        </div>
    </div>
</div>
{% endblock %}