{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Google Pixel 8 Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/devices/android.css') }}">
{% endblock %}

{% block content %}
<div class="device-container">
    <div class="pixel-8">
        <div class="camera-bar">
            <div class="camera-bump">
                <div class="camera-lens"></div>
                <div class="camera-lens"></div>
            </div>
        </div>
        <div class="power-button"></div>
        <div class="screen">
            <div class="camera-punch"></div>
            <iframe src="{{ cleanUrl }}" title="Google Pixel 8 Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}