{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Ultrawide Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .ultrawide-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%;
        }
        
        .ultrawide-mockup {
            width: 1200px;
            height: 600px;
            background-image: url('{{ asset('bundles/devicemockupviewer/Images/ultrawide.png') }}');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .ultrawide-screen {
            width: 1000px;
            height: 420px;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            margin-top: -40px;
        }
        
        .ultrawide-screen iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 8px;
        }
        
        @media (max-width: 1300px) {
            .ultrawide-mockup {
                transform: scale(0.8);
            }
        }
        
        @media (max-width: 1000px) {
            .ultrawide-mockup {
                transform: scale(0.6);
            }
        }
        
        @media (max-width: 800px) {
            .ultrawide-mockup {
                transform: scale(0.4);
            }
        }
        
        @media (max-width: 600px) {
            .ultrawide-mockup {
                transform: scale(0.3);
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="ultrawide-container">
    <div class="ultrawide-mockup">
        <div class="ultrawide-screen">
            <iframe src="{{ cleanUrl }}" title="Ultrawide Mockup"></iframe>
        </div>
    </div>
</div>
{% endblock %}