<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<div id="mask">
		<nav>
			<ul>
				<li class="ultrawide-thumbnail active"><b>ultrawide</b><span>4K UHD</span></li>
				<li class="desktop-thumbnail"><b>desktop</b><span>UXGA 4:3</span></li>
				<li class="desktop-thumbnail"><b>desktop</b><span>QHD</span></li>
				<li class="desktop-thumbnail"><b>desktop</b><span>4K UHD</span></li>
				<li class="laptop-thumbnail"><b>laptop</b><span>WXGA</span></li>
				<li class="laptop-thumbnail"><b>laptop</b><span>WXGA+</span></li>
				<li class="laptop-thumbnail"><b>laptop</b><span>WUXGA</span></li>
				<li class="tabletlandscape-thumbnail"><b>landscape</b><span>XGA</span></li>
				<li class="tablet-thumbnail"><b>tablet</b><span>XGA</span></li>
				<li class="mobile-thumbnail"><b>mobile</b><span>iPhone 12/13</span></li>
				<li class="iphone6-thumbnail"><b>mobile</b><span>iPhone 6</span></li>
				<li class="iphone6landscape-thumbnail"><b>mobile</b><span>iPhone 6 ls</span></li>
			</ul>
		</nav>
		<div class="arrowdown"></div>
		<div class="arrowup hide"></div>
		<div id="container">
			<section class="active">
				<div class="display">
					<div class="ultrawide">
						<div class="header">
							<h1>ultrawide</h1>
							<h2>1024x768 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="desktop">
						<div class="header">
							<h1>desktop</h1>
							<h2>1600x1200 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="desktop desktop-xl">
						<div class="header">
							<h1>desktop</h1>
							<h2>2560x1440Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="desktop desktop-xxl">
						<div class="header">
							<h1>desktop</h1>
							<h2>4k 3840x2160 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="laptop">
						<div class="header">
							<h1>laptop</h1>
							<h2>1280x800Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="laptop laptop-xl">
						<div class="header">
							<h1>laptop</h1>
							<h2>1440x900 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="laptop laptop-xxl">
						<div class="header">
							<h1>laptop</h1>
							<h2>1920x1200 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="tabletlandscape">
						<div class="header">
							<h1>landscape</h1>
							<h2>1024x768 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="tablet">
						<div class="header">
							<h1>tablet</h1>
							<h2>768x1024 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="mobile">
						<div class="header">
							<h1>mobile</h1>
							<h2>390x884 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone6">
						<div class="header">
							<h1>mobile</h1>
							<h2>414x736 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone6landscape">
						<div class="header">
							<h1>mobile</h1>
							<h2>736x414 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
</f:section>

</html>
