<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<div id="mask">
		<nav>
			<ul>
				<li class="laptop-thumbnail active"><b>laptop</b><span>WXGA</span></li>
				<li class="laptop-thumbnail"><b>laptop</b><span>WXGA+</span></li>
				<li class="laptop-thumbnail"><b>laptop</b><span>WUXGA</span></li>
			</ul>
		</nav>
		<div class="arrowdown"></div>
		<div class="arrowup hide"></div>
		<div id="container">
			<section class="active">
				<div class="display">
					<div class="laptop">
						<div class="header">
							<h1>laptop</h1>
							<h2>1280x800Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="laptop laptop-xl">
						<div class="header">
							<h1>laptop</h1>
							<h2>1440x900 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="laptop laptop-xxl">
						<div class="header">
							<h1>laptop</h1>
							<h2>1920x1200 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
</f:section>

</html>
