<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<div id="mask">
		<nav>
			<ul>
				<li class="iphone12max-thumbnail active"><b>iPhone 12/13 max</b><span>428x926 Pixel</span></li>
				<li class="iphone12-thumbnail"><b>iPhone 12/13</b><span>390x884 Pixel</span></li>
				<li class="iphone11pro-thumbnail"><b>iPhone 11 pro</b><span>375x812 Pixel</span></li>
				<li class="iphone6plus-thumbnail"><b>iPhone 6 plus</b><span>414x736 Pixel</span></li>
				<li class="iphone6-thumbnail"><b>iPhone 6</b><span>375x667 Pixel</span></li>
				<li class="iphone5-thumbnail"><b>iPhone 5</b><span>320x568 Pixel</span></li>
				<li class="iphone4-thumbnail"><b>iPhone 4</b><span>320x480 Pixel</span></li>
				<li class="iphone6landscape-thumbnail"><b>iPhone 6 ls</b><span>736x414 Pixel</span></li>
			</ul>
		</nav>
		<div class="arrowdown"></div>
		<div class="arrowup hide"></div>
		<div id="container">
			<section>
				<div class="display">
					<div class="iphone12max">
						<div class="header">
							<h1>iPhone 12/13 max</h1>
							<h2>428x926 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone12">
						<div class="header">
							<h1>iPhone 12/13</h1>
							<h2>390x884 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone11pro">
						<div class="header">
							<h1>iPhone 11 pro</h1>
							<h2>375x812 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone6plus">
						<div class="header">
							<h1>iPhone 6</h1>
							<h2>414x736 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone6">
						<div class="header">
							<h1>iPhone 6</h1>
							<h2>375x667 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone5">
						<div class="header">
							<h1>iPhone 5</h1>
							<h2>320x568 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone4">
						<div class="header">
							<h1>iPhone 4</h1>
							<h2>320x480 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="iphone6landscape">
						<div class="header">
							<h1>iPhone 6 ls</h1>
							<h2>736x414 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
</f:section>

</html>
