<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<div id="mask">
		<nav>
			<ul>
				<li class="desktop-thumbnail"><b>desktop</b><span>UXGA 4:3</span></li>
				<li class="tabletlandscape-thumbnail"><b>landscape</b><span>XGA</span></li>
				<li class="mobile-thumbnail"><b>mobile</b><span>iPhone 12/13</span></li>
			</ul>
		</nav>
		<div class="arrowdown"></div>
		<div class="arrowup hide"></div>
		<div id="container">
			<section>
				<div class="display">
					<div class="desktop">
						<div class="header">
							<h1>desktop</h1>
							<h2>1600x1200 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="tabletlandscape">
						<div class="header">
							<h1>landscape</h1>
							<h2>1024x768 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="display">
					<div class="mobile">
						<div class="header">
							<h1>mobile</h1>
							<h2>390x884 Pixel</h2>
						</div>
						<div class="mockup">
							<div class="wrapper">
								<iframe src="{plugin.tx_t3jet_mockup.url}"></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
</f:section>

</html>
