{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Twelve Device Layout Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/layouts.css') }}">
{% endblock %}

{% block content %}
<div class="layout-container">
    <div class="twelve-layout">
        {% for i in 1..12 %}
        <div class="twelve-device">
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Device {{ i }} Mockup"></iframe>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}