{% extends "@AndreasHurstMockup/storefront/layout/mockup-base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/andreashurstmockup/Css/setup.surfacepro.css', 'asset') }}">
{% endblock %}

{% block content %}
<div id="container">
    <section>
        <div class="display">
            <div class="surfacepro">
                <div class="mockup">
                    <div class="wrapper">
                        <iframe src="{{ url }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
