<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AndreasHurst Mockup</title>
    <link rel="shortcut icon" href="{{ asset('bundles/andreashurstmockup/Icons/favicon.ico', 'asset') }}">
    <link rel="stylesheet" href="{{ asset('bundles/andreashurstmockup/Css/all.css', 'asset') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <!-- Hide cookie banners for cleaner mockup presentation -->
    <script src="{{ asset('bundles/andreashurstmockup/JavaScript/hide-cookies.js', 'asset') }}"></script>
    
    {% block javascript %}{% endblock %}
</body>
</html>